<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pdf_extract</title>
    <link rel="stylesheet" href="../views/index.css" />
  </head>
  <body>
    <div class="container" id="c1">
      <form action="/api/login" method="post">
        <table border="0">
          <tr>
            <td>Email:</td>
            <td><input type="email" class="field" name="email" required/></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" class="field" name="password" required/></td>
          </tr>
        </table>
        <button type="submit">sign in</button>
      </form>
    </div>
  </body>
</html>
